<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.opm.mybatis.mapper.EmpMapper">
  <resultMap id="BaseResultMap" type="cn.opm.mybatis.entity.Emp">
    <!--@mbg.generated-->
    <!--@Table emp-->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="flag" jdbcType="BIT" property="flag" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, flag, `name`, age, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from emp
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from emp
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.opm.mybatis.entity.Emp">
    <!--@mbg.generated-->
    insert into emp (id, flag, `name`, age, 
      create_time, update_time)
    values (#{id,jdbcType=CHAR}, #{flag,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.opm.mybatis.entity.Emp">
    <!--@mbg.generated-->
    insert into emp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=BIT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.opm.mybatis.entity.Emp">
    <!--@mbg.generated-->
    update emp
    <set>
      <if test="flag != null">
        flag = #{flag,jdbcType=BIT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.opm.mybatis.entity.Emp">
    <!--@mbg.generated-->
    update emp
    set flag = #{flag,jdbcType=BIT},
      `name` = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-20-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from emp
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=CHAR}
      </if>
      <if test="name != null">
        and `name`=#{name,jdbcType=VARCHAR}
      </if>
      <if test="age != null">
        and age=#{age,jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>